
header {
    background-color: #000000;
    padding: 15px 30px;
    
}
body{
background-color:rgb(214, 214, 214)
;


}
.navbar{
margin-bottom: 30px;
display:flex;
justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(253, 253, 253);
    font-size: 150px;
    font-weight: bold;
}

.logo a {
    color: white;
    text-decoration: none; 
}

.logo a:hover {
    color: #00bfff; 
    transition: color 0.3s;
     text-decoration: none;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}


.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #00bfff;
}

.login-btn {
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover {
    background-color: white;
    color: #000000;
}

main {
    padding: 40px;
    font-family: Arial, sans-serif;
}

.back{
color: white;
font-size: 50px ;
font-weight: bold;
}

.back a{
color: white;
text-decoration: none;
}

.back a:hover
{
color:#003366;
transition: 0.3s;
text-decoration: none;
}

.logo2{
gap: 35px;
 color: rgb(253, 253, 253);
    font-size: 150px;
    font-weight: bold;
    display:flex;
justify-content: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2e2e2e;
}

.error {
    color: red;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}